<div class="modal">
	<div class="modal-content">
		<form [formGroup]="taskForm" (ngSubmit)="handleSubmit()">
			<div *ngIf="formType === 'ASSIGN'">
				<label for="task-assign">Assign to</label>
				<input id="task-assign" type="email" formControlName="userEmail" placeholder="Enter email" />
			</div>
			<p *ngIf="formType !== 'ASSIGN'">{{formType === "UPDATE" ? "Update task" : "Add new task"}}</p>
			<div *ngIf="formType !== 'ASSIGN'">
				<label for="task-name">Task name</label>
				<input id="task-name" formControlName="name" />
				@if(taskForm.get('name')?.invalid && taskForm.get('name')?.touched) {
				<div>
					Task name is required.
				</div>
				}
			</div>
			<div *ngIf="formType !== 'ASSIGN'">
				<label for="task-description">Task description</label>
				<input id="task-description" formControlName="description" />
			</div>
			<div *ngIf="formType !== 'ASSIGN'">
				<label for="task-due-date">Task due date</label>
				<input id="task-due-date" type="date" formControlName="dueDate" />
				@if(taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched) {
				<div>
					Due date is required
				</div>
				}

			</div>
			<div>
				<button class="cancel-button" type="button" (click)="handleCancel()">Cancel</button>
				<button class="submit-button" type="submit" [disabled]="taskForm.invalid">Submit</button>
			</div>
		</form>
	</div>
</div>