<div class="task-list-container" >

	<div class="heading">
	  <h3>Tasks</h3>
	  <div>
		<span class="status-dot in-progress"></span>In Progress
		<span class="status-dot completed"></span>Completed
	  </div>
	</div>
  

	<table>
	  <thead>
		<tr>
		  <th>Task</th>
		  <th>Status</th>
		  <th>Due Date</th>
		  <th>User</th>
		  <th *ngIf="role === 'ADMIN'">Actions</th> 
		</tr>
	  </thead>
	  <tbody>

		<ng-container *ngIf="tasks.length > 0">
		  <tr *ngFor="let task of tasks; trackBy: trackByTaskId">

			<td>
			  <label [class.completed-task]="task.completed">
				<input
				  type="checkbox"
				  aria-label="Select task"
				  [checked]="task.completed"
				  (click)="handleCheckboxChange(task)"
				/>
				{{ task.name }}
			  </label>
			</td>
  

			<td>
			  <span class="status-dot {{ task.completed ? 'completed' : 'in-progress' }}"></span>
			  {{ task.completed ? 'Completed' : 'In Progress' }}
			</td>

			<td>{{ task.dueDate | date: 'yyyy-MM-dd' }}</td>
  

			<td>{{ task.user?.email }}</td>
			<td *ngIf="role === 'ADMIN'">
			  <button (click)="updateTask(task)" class="action-button">✏️</button>
			  <button (click)="deleteTask(task.id)" class="action-button">❌</button>
			</td>
		  </tr>
		</ng-container>
  
		<tr *ngIf="tasks.length === 0">
		  <td colspan="5" class="no-tasks">No tasks found.</td>
		</tr>
	  </tbody>
	</table>
  
	<div *ngIf="role === 'ADMIN'" class="button-container">
	  <button (click)="addNewTask()" class="add-task-button">Add New Task</button>
	</div>
  
	<div *ngIf="showModal">
	  <app-task-form
		(closePanel)="handleModalClose($event)"
		[currentTask]="selectedTask"
		[formType]="formType"
		(taskUpdated)="refreshTasks()"
	  ></app-task-form>
	</div>
  </div>